@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post" asp-action="Login" asp-controller="Login">

    <div>
        <label>Usuário</label>
        <input type="text" name="username" required />
    </div>

    <div>
        <label>Senha</label>
        <input type="password" name="password" required />
    </div>

    <button type="submit">Entrar</button>

    @if (ViewData["ErrorMessage"] != null)
    {
        <p style="color:red">@ViewData["ErrorMessage"]</p>
    }
</form>
